@model Frontend.Models.Book

@{
    ViewBag.Title = "Edit";
}

<!--Listado-->
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">PageCount</th>
                <th scope="col">Excerpt</th>
                <th scope="col">PublishDate</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
                <td>@Model.PageCount</td>
                <td>@Model.Excerpt</td>
                <td>@Model.PublishDate</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <!--Form-->
    <div class="row">
        @using (Html.BeginForm("Inmueble", "Tasar", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-12">
                @Html.ValidationSummary("", new { @class = "alert-errores" })
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Description", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.PageCount, new { placeholder = "PageCount", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Excerpt, new { placeholder = "Excerpt", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input name="PublishDate" id="PublishDate" class="form-control">
                </div>
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        }
    </div>
    @{
        //Buscar Fecha para date picker
        DateTime fechaDate = DateTime.Now;
        DateTime fecha = fechaDate.AddDays(1);
        string anio = Convert.ToString(fecha.Year);
        string mes = Convert.ToString(fecha.Month);
        string dia = Convert.ToString(fecha.Day);
    }
    @section footerscripts{
        <script>
        $(document).ready(function () {
            //DateTime
            $('#PublishDate').datetimepicker({
                yearStart: 2020,
                value: '@anio-@mes-@dia 11:00',
                step:30
            });
        }
        </script>
    }

